@import url('https://fonts.googleapis.com/css2?family=Comme:wght@300;400;800&family=Mr+Dafoe&family=Playfair+Display:wght@400;500;600;700;800;900&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

:root{
  --global-color : #fff;
  --global-font : 'Plus Jakarta Sans';
}


*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    display: flex;
    height: 100vh;
    background: black;
    z-index: -1;
}

.App__component{
    flex: 5;
}

.App__navbar{
    flex : 1;
}

/* media query for width less then 940 px */

@media (width <= 940px){
    .App__component{
        flex: 7;
    }
    
    .App__navbar{
        flex : 1;
    }
}

/* media query for width less then 720 px */

@media (width <= 720px) {
    .App{
        display: flex;
        flex-direction: column-reverse;
        height: 100vh;
        background: black;
        z-index: -1;
    }
    
    .App__component{
        height: 80vh;
    }
    
    .App__navbar{
        height: 20vh;
    }
}